main_copy.py
pruebas.py
PreguntasRespuestas.xlsx
env/
.env
__pycache__/
app/__pycache__/
app/models/__pycache__/
app/routes/__pycache__/
app/utils/__pycache__/
app/models/entities/__pycache__/
migrations/__pycache__/