{% extends 'base.html' %}

{% block title %}
Trivia Protestante
{% endblock %}


<div class="back">
    {% block content %}
    <h1>Trivia Protestante</h1>
    <p>Creada por William Vilca</p>

    <div class="btn-group">
        <a href="{{url_for('trivia.login')}}" class="btn btn-primary">Iniciar sesión</a>
        <a href="{{url_for('trivia.register')}}" class="btn btn-primary">Registrarse</a>
    </div>

    <br>
    <a href="{{url_for('trivia.show_users')}}">Ver usuarios</a> <br>
    <a href="{{url_for('trivia.questions')}}">Preguntas</a> <br>
    <a href="{{url_for('trivia.createQuestion')}}">Ingresar pregunta</a>

    {% endblock %}
</div>