{% extends 'base.html' %}

{% block title %}
Usuarios
{% endblock %}

{% block content %}

<h1>Usuarios</h1>

{% if noneuser == None %}

<p>No hay usuarios registrados</p>
<p class="btn btn-primary">
    <a href="{{url_for('trivia.home')}}" style="color: white;"><i class="fa-solid fa-house" style="color: rgb(255, 255, 255);"></i> Inicio</a>
</p> 


{% else %}
<p class="btn btn-primary">
    <a href="{{url_for('trivia.home')}}" style="color: white;"><i class="fa-solid fa-house" style="color: rgb(255, 255, 255);"></i> Inicio</a>
</p> 

<table>
    <thead>
        <td>Nombres</td>
        <td>Apellidos</td>
        <td>Username</td>
        <td>Email</td>
        <td>Admin</td>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{user.name}}</td>
            <td>{{user.lastname}}</td>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>{{user.isAdmin}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endif %}
{% endblock %}